<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="erdtRhDLOXg-PvdCE4oD67-K04-RPQtqTtkJGWUYj9U"
    />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'home/style.css'%}" /> -->
    <link
      rel="shortcut icon"
      href="{% static 'home/qw4.png' %}"
      type="image/png"
    />
  </head>

  <body>
    <!-- <div class="cursor"></div> -->
    <!-- <div class="veil"></div> -->
    <div class="container">
      {% include 'partials/_navbar.html' %}
      <div class="content">
        <div class="details">
          <div class="title">
            <!-- <img src="{% static 'home/qriositywhite.png' %}" /> -->
          </div>
          <div class="para">
            <p class="box-text1" id="demo">
              Curiosity, like a mystery has a surface innocence, surprise, the
              revelation of a concealed meaning and the catharsis of solution.
            </p>
          </div>

          <br />

          {% if user.is_authenticated %}
          <a href="{% url 'quiz:stageone'  %}">
            <button
              class="btn btn-primary mb1 bg-blue"
              type="submit"
              value="Play"
              class="dare"
            >
              Start
            </button></a
          >
          {% else %}
          <a href="{% url 'home:login' %}">
            <button
              class="btn btn-primary mb1 bg-blue"
              type="submit"
              value="Play"
              class="dare"
            >
              Start
            </button>
            {% endif %}
          </a>
        </div>
      </div>
      <footer>
        <div>
          <a
            href="http://www.ieeesbnitdgp.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="{% static 'home/ieee.png'%}" alt="IEEE" class="ieee" />
          </a>
        </div>

        <div>&copy; IEEE SB NITD</div>
        <div>
          <a
            href="http://www.ieeesbnitdgp.com/#contact-us"
            target="_blank"
            rel="noopener noreferrer"
          >
            Contact Us
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
