<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/style.css'%}" />
  </head>

  <body>
    <div class="cursor"></div>
    <div class="veil"></div>
    <div class="container">
      <div class="head1">
        <header>
          <h1>
            <a class="navbar-brand" href="{% url 'home:home' %}"
              >Qriosity 2.0</a
            >
          </h1>
          <nav>
            <ul>
              <li>
                <a href="{% url 'home:rules' %}">Rules</a>
              </li>
              <li>
                <a href="#"> Leader Board </a>
              </li>
              {% if user.is_authenticated %}
              <li>
                <a href="{% url 'logout' %}">Logout</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </header>
      </div>

      <div class="content">
        <div class="nonauth">
          <div>
            <h1 class="texthead">Qriosity 2.0</h1>
          </div>
          <br />
          <div class="para">
            <p class="box-text1" id="demo">
              Curiosity, like a mystery has a surface innocence, surprise, the
              revelation of a concealed meaning and the catharsis of solution.
            </p>
          </div>
        </div>
        <br />
        {% if user.is_authenticated %}
        <button class="btn" type="submit" value="Play" class="dare">
          <!-- <a href="{% url 'quiz:quiz' %}" target="_blank"> Dare </a> -->
          <a href="{% url 'user:dashboard' %}">Dashboard</a>
        </button>
        {% else %}
        <div class="socialLogin">
          <div class="loghead">
            Login to be Featured
          </div>
          <div class="icon3">
            <a href="{% url 'social:begin' 'google-oauth2' %}">
              <button class="google-log"></button>
            </a>
            <br />
            <a href="{% url 'social:begin' 'facebook' %}">
              <button class="fb-log"></button>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/gsap.min.js"></script>
  <script src="{% static 'home/home_main.js'%}"></script>
</html>

<!-- <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0&appId=664256484123435&autoLogAppEvents=1" nonce="uv90qZJk"></script> -->
<!-- <a href="{% url 'social:begin' 'facebook' %}" class="fb connect">Sign in with Facebook</a> -->
<!-- <a href="{% url 'social:begin' 'facebook' %}">
        <div class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="true" data-width=""></div>
    </a> -->
<!-- <div class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="true" data-width="">
        <a href="{% url 'social:begin' 'facebook' %}">a</a>
    </div> -->
