<!DOCTYPE html> {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/loginstyle.css'%}" />
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" />
    <title>Login</title>
    <link
      rel="shortcut icon"
      href="{% static 'home/qw4.png' %}"
      type="image/png"
    />
    <style>
      .icon3 img {
        width: 40vh;
      }
    </style>
  </head>

  <body>
    <div id="particles-js"></div>
    <div class="container">
      <header>
        <h1>
          <a href="{% url 'home:home' %}" class="qriosity">Qriosity 2.0</a>
        </h1>
        <br />

        <nav>
          <ul>
            <li>
              <a href="{% url 'home:rules'%}">Rules</a>
            </li>
            <li>
              <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
              <a href="{% url 'user:story' %}">Story</a>
            </li>
            <li>
              <a href="{% url 'home:login' %}">Login</a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="container">
        <div class="content">
          <br /><br /><br /><br /><br />
          <div class="box">
            <h3 style="font-size: xx-large;">
              Login to be Featured
            </h3>
            <br />
            <br />
            <div class="icon3">
              <a href="{% url 'social:begin' 'facebook' %}">
                <img src="{% static 'home/fb3.jpg'%}" alt="fb" />
              </a>
              <br /><br />
              <a href="{% url 'social:begin' 'google-oauth2' %}">
                <img src="{% static 'home/google.jpg'%}" alt="google" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footleft">
          <a
            href="https://www.ieee.org/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/globals/88857-22.gif"
              alt="ieee"
            />
          </a>
        </div>
        <div class="fbook">
          <a
            href="https://www.facebook.com/nitdgpieeesociety/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://img.icons8.com/fluent/48/000000/facebook-new.png"
            />
          </a>
        </div>
        <div class="insta">
          <a
            href="https://www.instagram.com/ieeesb_nitdgp/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://img.icons8.com/fluent/48/000000/instagram-new.png"
            />
          </a>
        </div>
        <div>
          <div class="footmid">
            <!-- <div class="ryt">&copy; IEEE SB NITD</div> -->
            <a
              href="http://www.ieeesbnitdgp.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="{% static 'home/ieee.png'%}" alt="IEEE" class="ieee" />
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"
    integrity="sha512-jq8sZI0I9Og0nnZ+CfJRnUzNSDKxr/5Bvha5bn7AHzTnRyxUfpUArMzfH++mwE/hb2efOo1gCAgI+1RMzf8F7g=="
    crossorigin="anonymous"
  ></script>
  <script>
    particlesJS.load(
      "particles-js",
      "{% static 'home/home.json' %}",
      function () {
        console.log("Hi Qriosity Player");
      }
    );
  </script>
</html>
