<!DOCTYPE html> {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'home/loginstyle.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'home/home.ico' %}"
      type="image/x-icon"
    />
    <style>
      .icon3 img {
        width: 40vh;
      }
      header {
        pointer-events: all;
      }

      footer {
        box-shadow: 2px 2px 2px 2px #a26d28;
        border-top: 1px #a26d28;
      }
    </style>
  </head>

  <body>
    <div id="particles-js"></div>
    <div class="container">
      {% include 'partials/_navbar.html' %}
      <div class="container">
        <div class="content">
          <br /><br /><br /><br /><br />
          <div class="box">
            <h3 style="font-size: xx-large;">
              Login to be Featured
            </h3>
            <br />
            <br />
            <div class="icon3">
              <a href="{% url 'social:begin' 'facebook' %}">
                <img src="{% static 'home/fb3.jpg'%}" alt="fb" />
              </a>
              <br /><br />
              <a href="{% url 'social:begin' 'google-oauth2' %}">
                <img src="{% static 'home/google.jpg'%}" alt="google" />
              </a>
            </div>
          </div>
        </div>
        {% include 'partials/_footer.html' %}
      </div>
    </div>
  </body>
  <script src="{% static 'user/particles.js' %}"></script>
  <script>
    particlesJS.load(
      "particles-js",
      "{% static 'home/home.json' %}",
      function () {
        console.log("Hi Qriosity Player");
      }
    );
  </script>
</html>
