<!DOCTYPE html> {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/loginstyle.css'%}" />
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" />
    <title>Rules</title>
    <link
      rel="shortcut icon"
      href="{% static 'home/qw4.png' %}"
      type="image/png"
    />
    <style>
      .box {
        margin: 10px;
        pointer-events: all;
      }
    </style>
  </head>

  <body>
    <div id="particles-js"></div>
    <div class="container">
      <header>
        <h1>
          <a href="{% url 'home:home' %}" class="qriosity">Qriosity 2.0</a>
        </h1>
        <br />

        <nav>
          <ul>
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'home:rules'%}">Rules</a>
            </li>
            <li>
              <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
              <a href="{% url 'user:formdata' %}"> Profile</a>
            </li>
            <li>
              <a href="{% url 'user:story' %}">Story</a>
            </li>
            <li>
              <a href="{% url 'user:dashboard' %}"> Dashboard </a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'home:rules'%}">Rules</a>
            </li>
            <li>
              <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
              <a href="{% url 'user:story' %}">Story</a>
            </li>
            <li>
              <a href="{% url 'home:login' %}">Login</a>
            </li>

            {% endif %}
          </ul>
        </nav>
      </header>

      <div class="content">
        <div class="box">
          <div class="panel">
            <h2>Rules & Regulations:</h2>
            <ul style="list-style: none; padding: 10px;">
              <li style="padding: 5px;">All Questions Are Compulsory.</li>
              <li style="padding: 5px;">
                You Cannot Submit Answer twice. <br />
              </li>
              <li style="padding: 5px;">Admin decision is final.</li>
              <li style="padding: 5px;">Enter Only answer nothing else</li>
              <li style="padding: 5px;">All the Best!</li>
            </ul>
          </div>
        </div>
      </div>

      <footer>
        <div class="footleft">
          <a
            href="https://www.ieee.org/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/globals/88857-22.gif"
              alt="ieee"
            />
          </a>
        </div>
        <div class="fbook">
          <a
            href="https://www.facebook.com/nitdgpieeesociety/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://img.icons8.com/fluent/48/000000/facebook-new.png"
            />
          </a>
        </div>
        <div class="insta">
          <a
            href="https://www.instagram.com/ieeesb_nitdgp/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://img.icons8.com/fluent/48/000000/instagram-new.png"
            />
          </a>
        </div>
        <div>
          <div class="footmid">
            <!-- <div class="ryt">&copy; IEEE SB NITD</div> -->
            <a
              href="http://www.ieeesbnitdgp.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="{% static 'home/ieee.png'%}" alt="IEEE" class="ieee" />
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="{% static 'user/particles.js' %}"></script>
  <script>
    particlesJS.load(
      "particles-js",
      "{% static 'home/home.json' %}",
      function () {
        console.log("Hi Qriosity Player");
      }
    );
  </script>
</html>
