{% extends 'base.html'%} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'quiz/quiz.css' %}" />
</head>
<div class="content">
  <h2 align="center">
    The Algorithms to fetch the Passcode are
  </h2>

  {% for question in questions %}
  <div class="stage1">
    <div class="context">
      <ul>
        <li>Question Level : {{ question.level}}</li>

        <li>
          Question Title : {{ question.title }}
        </li>

        <li>
          <p>Algorithm :</p>
          <p>
            {{ question.algo|safe}}
          </p>
        </li>

        <li>
          <p>
            In case you forgot
          </p>
          <p>
            Answer : {{question.answer}}
          </p>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
