<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audio Questions</title>
    <link rel="stylesheet" href="{% static 'quiz/audio.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="audioquestions">
        <h1>{{ question.title }}</h1>

        <!-- description -->
        {% if question.description %}
        <div>{{ question.description }}</div>
        {% endif %}

        <!-- image -->
        {% if question.image %}
        <div>
          <img src="{{ question.image.url }}" alt="{{question.title}}" />
        </div>
        {% endif %}

        <!-- url -->
        {% if question.url %}
        <div>
          <a href="{{question.url}}" target="_blank" rel="noopener noreferrer">
            Click for hint</a
          >
        </div>
        {% endif %}
        <!-- audio  -->
        {% if question.file.url %}
        <audio src="{{ question.file.url }}" controls></audio>
        {% endif %}
      </div>

      {% if question2 != -1 %}
      <form method="POST" , action="{% url 'quiz:stat' question2.id %}">
        {% csrf_token %} {{ my_form.as_p}}
        <input type="submit" name="" id="button" value="Submit" />
      </form>
      {% else %}
      <form method="POST" , action="{% url 'quiz:audend' %}">
        {% csrf_token %} {{ my_form.as_p}}
        <input type="submit" name="" id="button" value="Submit" />
      </form>
      {% endif %}

      <div class="message"></div>
    </div>
  </body>
  <script>
    let msg = document.querySelector(".message");
    let buton = document.querySelector("#button");

    buton.addEventListener("click", show);

    function show() {
      msg.innerHTML = "your answer is submitted ";
      msg.style.backgroundColor = "red";
    }
  </script>
</html>
