<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <title>Error</title>
    <link rel="stylesheet" href="{% static 'quiz/style.css'%}" />
</head>

<body>
    <div class="container">
        {% include 'partials/_navbar.html' %}
        <div class="content">
            <h4>
                Error Page
            </h4>
        </div>
    </div>
</body>

</html>