{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'home/home.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'quiz/finish.css' %}" />
    <title>Congratulations 😁!!!</title>

    <style>
        .box {
            color: black;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        {% include 'partials/_nav2.html' %}
        <div class="content">'
            <div class="circle">
                <img src="{% static 'WHEEL2.png'%}" alt="wheel">
            </div>
            <div class="congrate">
                Congratulations 😃
                <br>
                you have finished this mission 😁.
            </div>
            <div class="box">
                <h3>
                    Visit
                </h3>
                <a href="{% url 'user:dashboard'%}">
                    <button class="btn btn-primary mb1 bg-blue">
              Dashboard
            </button>
                </a>
                <a href="{% url 'user:leaderboard'%}">
                    <button class="btn btn-primary mb1 bg-blue">
              Leaderboard
            </button>
                </a>
            </div>
        </div>

        <footer>
            <div class="footleft">
              <a
                href="https://www.ieee.org/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/globals/88857-22.gif"
                  alt="ieee"
                />
              </a>
            </div>
            <div class="fbook">
              <a
                href="https://www.facebook.com/nitdgpieeesociety/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="https://img.icons8.com/fluent/48/000000/facebook-new.png"
                />
              </a>
            </div>
            <div class="insta">
              <a
                href="https://www.instagram.com/ieeesb_nitdgp/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="https://img.icons8.com/fluent/48/000000/instagram-new.png"
                />
              </a>
            </div>
            <div>
              <div class="footmid">
                <!-- <div class="ryt">&copy; IEEE SB NITD</div> -->
                <a
                  href="http://www.ieeesbnitdgp.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img src="{% static 'home/ieee.png'%}" alt="IEEE" class="ieee" />
                </a>
              </div>
            </div>
          </footer>
        </div>
    </div>
</body>

</html>