{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'quiz/finish.css' %}" />
    <title>The End</title>

    <style>
      .box {
        color: black;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% include 'partials/_nav2.html' %}
      <div class="content">
        <div class="box">
          <h3>
            Visit
          </h3>
          <a href="{% url 'user:dashboard'%}">
            <button class="btn btn-primary mb1 bg-blue">
              Dashboard
            </button>
          </a>
          <a href="{% url 'user:leaderboard'%}">
            <button class="btn btn-primary mb1 bg-blue">
              Leaderboard
            </button>
          </a>
        </div>
      </div>

        <footer>
          <div>
            <a
              href="http://www.ieeesbnitdgp.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="{% static 'home/ieee.png'%}" alt="IEEE" class="ieee" />
            </a>
          </div>

          <div>&copy; IEEE SB NITD</div>
          <div>
            <a
              href="http://www.ieeesbnitdgp.com/#contact-us"
              target="_blank"
              rel="noopener noreferrer"
            >
              Contact Us
            </a>
        
        </footer>
      </div>
    </div>
  </body>
</html>
