{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'quiz/style.css' %}" />
</head>
<div class="container">
  {% include 'partials/_navbar.html' %}

  <div class="content">
    <h1>
      Here is your hint for
    </h1>

    <div class="question">
      {{question.title}}
    </div>
    <p>
      {{question.hint}}
    </p>

    <a href="{% url 'quiz:individual' question.level %}">
      <button class="btn btn-primary mb1 bg-blue">return to question</button>
    </a>
  </div>
</div>
