{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'quiz/style.css' %}" />
  <style>
    img {
      max-height: 30vh;
    }
    .content {
      justify-content: start;
    }
  </style>
</head>
<div class="container">
  <header>
    <h1>
      <a class="navbar-brand" href="{% url 'home:home' %}"
        >Qriosity 2.0 (Stage 2)
      </a>
    </h1>

    <nav>
      <ul>
        <li>
          <a class="rulebtn">Rules</a>
        </li>
        <li>
          <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
        </li>
        <li>
          <a href="{% url 'user:formdata' %}"> Update Contact Info</a>
        </li>
        <li>
          <a href="{% url 'user:dashboard' %}"> Dashboard </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <h2>
      Welcome {{player.name }} to Stage 2
    </h2>
    <br />
    <h3>
      To view/answer a question click on its title
    </h3>
    <div class="audioquestions">
      {% for question in questions%}
      <a href="{% url 'quiz:individual' question.id%}" target="_blank">
        <h1>{{ question.title }}</h1>
      </a>
      <!-- description -->
      {% if question.description %}
      <div>{{ question.description }}</div>
      {% endif %}

      <!-- image -->
      {% if question.image %}
      <div>
        <img src="{{ question.image.url }}" alt="{{question.title}}" />
      </div>
      {% endif %}

      <!-- url -->
      {% if question.url %}
      <div>
        <a href="{{question.url}}" target="_blank" rel="noopener noreferrer">
          Click for hint</a
        >
      </div>
      {% endif %}
      <br />

      <!-- audio  -->
      {% if question.files.url %}
      <audio src="{{ question.files.url }}" controls></audio>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
