{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'quiz/style.css' %}" />
  <style>
    img {
      max-height: 30vh;
    }
    .content {
      justify-content: start;
    }
    .questions {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;
      border-radius: 50px;
      margin: 10px;
    }
    .propic {
      height: 20vh;
      width: 20vh;
      border-radius: 100px;
    }
  </style>
</head>
<div class="container">
  {% include 'partials/_nav2.html' %}

  <div class="content">
    <h2>
      Welcome {{player.name }} to Stage 2
    </h2>
    <img src="{{player.image}}" alt="{{ player.name }}" class="propic" />
    <br />
    <h3>
      To view/answer a question click on its title
    </h3>
    <br />
    <hr width="50%" color="#C98732" />
    <br />

    {% for i in q %}
    <div class="questions">
      <div class="number">
        Question No. {{i.level}}
      </div>
      <div class="title">
        <a href="{% url 'quiz:individual' i.id %}">
          {{ i.title }}
        </a>
      </div>
      <div class="description">
        {{i.description}}
      </div>
      {% if i.image %}
      <div class="image">
        <img src="{{i.image}}" alt="{{i.title}}" />
      </div>
      {% endif %}
    </div>
    {% if i.files%}
    <div class="files">
      <audio src="{{i.files.url}}" controls></audio>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
