<head>
  <style>
    img {
      max-height: 30vh;
    }
  </style>
</head>
<div class="container">
  <h3>
    To view/answer a question click on its title
  </h3>
  <div class="audioquestions">
    {% for question in questions%}
    <a href="{% url 'quiz:individual' question.id%}" target="_blank">
      <h1>{{ question.title }}</h1>
    </a>
    <!-- description -->
    {% if question.description %}
    <div>{{ question.description }}</div>
    {% endif %}

    <!-- image -->
    {% if question.image %}
    <div>
      <img src="{{ question.image.url }}" alt="{{question.title}}" />
    </div>
    {% endif %}

    <!-- url -->
    {% if question.url %}
    <div>
      <a href="{{question.url}}" target="_blank" rel="noopener noreferrer">
        Click for hint</a
      >
    </div>
    {% endif %}
    <br />

    <!-- audio  -->
    {% if question.files.url %}
    <audio src="{{ question.files.url }}" controls></audio>
    {% endif %}
  </div>
</div>
{% endfor %}
