{% load static %}

<head>
    <style>
        img {
            max-height: 30vh;
        }
        
        .question_ind {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            max-width: 80vw;
        }
    </style>
    <link rel="stylesheet" href="{% static 'quiz/style.css'%}" />
    <title>Stage 2</title>
</head>

<div class="container">
    {% include 'partials/_nav2.html' %}
    <div class="content">
        <div class="question_ind">
            <h3>
                Question No. {{question.level}}
            </h3>
            {% if value %}
            <div class="wrong">
                Your previous Answer was wrong
                <br /> Please try again
                <br /> You can take the hint (you will loose points)
            </div>
            {% endif %}
            <h3>
                <u>
          {{ question.title }}
        </u>
            </h3>

            <br />
            <!-- description -->
            {% if question.description %}
            <div>{{ question.description }}</div>
            {% endif %}

            <!-- image -->
            {% if question.image %}
            <div>
                <img src="{{ question.image.url }}" alt="{{question.title}}" />
            </div>
            {% endif %}

            <!-- url -->
            {% if question.url %}
            <div>
                <a href="{{question.url}}" target="_blank" rel="noopener noreferrer">
          Click for hint</a
        >
      </div>
      {% endif %}
      <br />

      <!-- audio  -->
      {% if question.files %}
      <audio src="{{ question.files.url }}" controls></audio>
      {% endif %}
    </div>
    <form action="{% url 'quiz:hint2' question.level %}" method="POST">
      {% csrf_token %}
      <h3>
        Click For Hint But You will loose points
      </h3>
      <br />
      <button type="submit" class="btn btn-primary mb1 bg-blue">
        Hint
      </button>
    </form>

    <form action="" method="POST">
      {% csrf_token %} {{form.as_p}}
      <button type="submit" class="btn btn-primary mb1 bg-blue">
        Submit
      </button>
    </form>
  </div>
  <footer>
    <div class="visit">
      Visit Question
    </div>
    <div class="snip">
      {% for i in all %}
      <div class="inds">
        <a href="{% url 'quiz:individual' i.id %}">
          {{i.level}} . ( {{i.title}})
        </a>
            </div>
            {% endfor %}
        </div>
        </footer>
    </div>