<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Index</title>
  </head>
  <link rel="stylesheet" href="{% static 'quiz/quiz.css'%}" />
  <body>
    <div class="container">
      <h1>For answering click on the question title</h1>
      <h1>Qriosity Index page</h1>

      <!-- static questions -->

      {% for question in squestions %}
      <div class="ques">
        <h1>
          <a href="{% url 'quiz:stat' question.id %}" target="_blank"
            >{{ question.title }}</a
          >
        </h1>

        <!-- description -->
        {% if question.description %}
        <div>{{ question.description }}</div>
        {% endif %}

        <!-- image -->
        {% if question.image %}
        <div>
          <img src="{{ question.image.url }}" alt="{{question.title}}" />
        </div>
        {% endif %}

        <!-- url -->
        {% if question.url %}
        <div>
          <a href="{{question.url}}" target="_blank" rel="noopener noreferrer">
            Click for hint</a
          >
        </div>
        {% endif %} {% endfor %}
      </div>
      <!-- audioquestion -->
      <div class="audioquestions">
        {% for question in aquestions%}
        <h1>
          <a href="{% url 'quiz:audio' question.id %}" target="_blank"
            >{{ question.title }}</a
          >
        </h1>

        <!-- description -->
        {% if question.description %}
        <div>{{ question.description }}</div>
        {% endif %}

        <!-- image -->
        {% if question.image %}
        <div>
          <img src="{{ question.image.url }}" alt="{{question.title}}" />
        </div>
        {% endif %}

        <!-- url -->
        {% if question.url %}
        <div>
          <a href="{{question.url}}" target="_blank" rel="noopener noreferrer">
            Click for hint</a
          >
        </div>
        {% endif %}
        <!-- audio  -->
        {% if question.file.url %}
        <audio src="{{ question.file.url }}" controls></audio>
        {% endif %} {% endfor %}
      </div>
    </div>
  </body>
</html>
