<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NO peeking ahead</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(black, gray);
      color: aliceblue;
      height: 100vh;
      width: 100vw;
    }
  </style>
  <body>
    <div class="container">
      <h1>
        No peeking ahead
      </h1>
      <h2>
        solve the prev question to enter this page
      </h2>
      <h3>
        we are omnipotenet
      </h3>
    </div>
  </body>
</html>
