{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'home/home.ico' %}"
      type="image/x-icon"
    />
    <title>No peeking ahead</title>
    <link rel="stylesheet" href="{% static 'quiz/style.css'%}" />
  </head>

  <body>
    <div class="container">
      {% include 'partials/_navbar.html' %}
      <div class="content">
        <h1>
          No peeking ahead
        </h1>
        <br />
        <h1>
          We are omnipotent
        </h1>
      </div>
    </div>
  </body>
</html>
