{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'quiz/style.css' %}" />
  <link
    rel="shortcut icon"
    href="{% static 'home/home.ico' %}"
    type="image/x-icon"
  />
  <title>Correct Answer !</title>
</head>
<style>
  .content {
    text-align: center;
  }
</style>

<body>
  <div class="container">
    {% include 'partials/_nav2.html' %}

    <div class="content">
      <p>
        Hurrah ! You have sucessfully solved
        <br />
        the previous Question
      </p>
      <form action="{% url 'quiz:index'%}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary mb1 bg-blue" type="submit">
          Back to Index Page
        </button>
      </form>
    </div>
    <footer>
      <div class="visit">
        Visit Question
      </div>
      <div class="snip">
        {% for i in all %}
        <div class="inds">
          <a href="{% url 'quiz:individual' i.level %}">
            {{i.level}} . ( {{i.title}})
          </a>
        </div>
        {% endfor %}
      </div>
    </footer>
  </div>
</body>
