<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stage 1</title>
  </head>
  <link rel="stylesheet" href="{% static 'quiz/style.css' %}" />
  <script type="text/javascript">
    function preback() {
      window.history.forward();
    }
    setTimeout("preback()", 0);
    window.onunload = function () {
      null;
    };
  </script>
  <body>
    <div class="container">
      <header>
        <h1>
          <a class="navbar-brand" href="{% url 'home:home' %}">Qriosity 2.0</a>
        </h1>

        <nav>
          <ul>
            <li>
              <a class="rulebtn">Rules</a>
            </li>
            <li>
              <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
              <a href="{% url 'user:formdata' %}"> Update Contact Info</a>
            </li>
            <li>
              <a href="{% url 'user:dashboard' %}"> Dashboard </a>
            </li>
            <li>
              <a href="{% url 'quiz:algo' %}"> Algorithms</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="content">
        <h2>
          Question Level : {{ question.level }}
        </h2>

        {% if value %}
        <div class="wrong">
          Your previous Answer was wrong
          <br />
          Please try again
          <br />
          You can take the hint (you will loose points)
        </div>
        {% endif %}
        <h1>{{ question.title }}</h1>

        <!-- description -->
        {% if question.description %}
        <div class="description">{{ question.description }}</div>
        {% endif %}

        <!-- image -->
        {% if question.image %}
        <div>
          <img src="{{ question.image_url }}" alt="{{question.title}}" />
        </div>
        {% endif %}

        <form action="{% url 'quiz:hint'%}" method="post">
          {% csrf_token %}
          <p>
            Click Below for Hint But You Will Loose points on every click
            instantly
          </p>
          <button type="submit" class="btn btn-primary mb1 bg-blue">
            Click For Hint
          </button>
        </form>

        <form action="{% url 'quiz:answer'%}" method="post">
          {% csrf_token %} {{ form.as_p}}
          <button type="submit" class="btn btn-primary mb1 bg-blue">
            Submit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
