<!DOCTYPE html> {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'home/home.ico' %}"
      type="image/x-icon"
    />
    <title>Stage 1</title>

    <link rel="stylesheet" href="{% static 'quiz/style.css' %}" />
  </head>

  <script type="text/javascript">
    function preback() {
      window.history.forward();
    }
    setTimeout("preback()", 0);
    window.onunload = function () {
      null;
    };
  </script>

  <body>
    <div class="container">
      {% include 'partials/_navbar.html' %}

      <div class="content">
        <div class="stage1">
          <h3>
            Question Level : {{ question.level }}
          </h3>

          {% if value %}
          <div class="wrong">
            Your previous Answer was wrong
            <br />
            Please try again <br />
            You can take the hint (you will loose points)
          </div>
          {% endif %}
          <h3>{{ question.title }}</h3>

          <!-- description -->
          {% if question.description %}
          <div class="description">{{ question.description }}</div>
          {% endif %}

          <!-- image -->
          {% if question.image %}
          <div>
            <img src="{{ question.image_url }}" alt="{{question.title}}" />
          </div>
          {% endif %}
        </div>
        {% if hintButton %}
        <form action="{% url 'quiz:hint'%}" method="post">
          {% csrf_token %}
          <p>
            Click Below for Hint But You Will Loose points
            <br />
            <b>Doesn't Matter if you have taken it previously or not</b>
            <br />
            On every click you are bound to loose points
          </p>
          <button type="submit" class="btn btn-primary mb1 bg-blue">
            Click For Hint
          </button>
        </form>
        {% endif %} {% if hintValue %}

        <div class="stage1 hint1">
          <h3>
            You Have Lost 1 point.
          </h3>
        </div>
        <p>
          <b>Don't Reload this page you will loose points</b>
          <b>
            PLease note down the hint <br />
            as visiting this page again <br />
            would cost you points.
          </b>
        </p>
        <div class="stage1">
          <br />
          <p>
            Your Hint is
          </p>
          <p>
            {{ question.hint}}
          </p>
        </div>

        {% endif %}

        <form action="{% url 'quiz:answer'%}" method="post">
          {% csrf_token %} {{ form.as_p}}
          <button type="submit" class="btn btn-primary mb1 bg-blue">
            Submit
          </button>
        </form>
      </div>
      {% include 'partials/_footer.html' %}
    </div>
  </body>
</html>
