<div class="container">
  <div class="audioquestions">
    <h1>{{ question.title }}</h1>

    <!-- description -->
    {% if question.description %}
    <div>{{ question.description }}</div>
    {% endif %}

    <!-- image -->
    {% if question.image %}
    <div>
      <img src="{{ question.image.url }}" alt="{{question.title}}" />
    </div>
    {% endif %}

    <!-- url -->
    {% if question.url %}
    <div>
      <a href="{{question.url}}" target="_blank" rel="noopener noreferrer">
        Click for hint</a
      >
    </div>
    <br />
    {% endif %}
    <!-- audio  -->
    <br />
    {% if question.files.url %}
    <br />

    <audio src="{{ question.files.url }}" controls></audio>
    {% endif %}
  </div>
</div>
