<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stat END</title>
    <link rel="stylesheet" href="{% static 'quiz/statend.css'%}" />
  </head>
  <body>
    <div class="container">
      <p>
        Thanks for Playing with US <br />
        You have completed the static questions <br />
        click the button below for audio questions
      </p>
      <a href="{% url 'quiz:audio' 1 %}">
        <button type="submit" value="Go to Audio Page">
          GO to audio questions
        </button>
      </a>
    </div>
  </body>
</html>
