* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#particles-js {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(black, rgb(24, 24, 59));
}

img {
  max-height: 30vh;
  max-width: 30vw;
}

body {
  background-color: black;
  color: aliceblue;
}

.container {
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-family: cursive;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  text-align: center;
}

.ques {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  padding: 5px;
}

.hbutt {
  pointer-events: all;
  padding: 5px;
  border-radius: 20px;
}

.btn {
  padding: 10px;
  border-radius: 25px;
  font-size: 1em;
  background-color: black;
  color: white;
  border-color: black;
  margin-bottom: 1em;
}

.btn:hover {
  background-color: rgb(108, 163, 211);
  border-color: rgb(108, 163, 211);
}
