{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="{% static 'user/styles.css' %}" />
    <style>
      .imageusr {
        height: 20vh;
        width: 20vh;
      }
    </style>
  </head>

  <body>
    <div id="particles-js"></div>
    <div class="container">
      <header>
        <h1>
          <a class="navbar-brand" href="{% url 'home:home' %} " class="qriosity">Qriosity 2.0</a>
        </h1>
        <nav>
          <ul>
            <li>
              <a class="rulebtn">Rules</a>
            </li>
            <li>
              <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
              <a href="{% url 'user:story' %}"> Story </a>
            </li>
            <li>
              <a href="{% url 'user:formdata' %}"> Update Contact Info</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="content">
        <div class="user">
          <div id="message">
            Hello Qriosity User
          </div>
          <img src="{{ user.image }}" alt="{{ user.name }}" class="imageusr" />
          <div class="name">
            {{ user.name }}
          </div>
          <div class="score">
             Your Score : {{ user.score}}
          </div>
          <div class="rank">
            Your rank : {{j}}
          </div>
          
          <form action="{% url 'quiz:stageone' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mb1 bg-blue">
              Start
            </button>
          </form>
        </div>
        
      <footer>
        <div>
          <a
            href="http://www.ieeesbnitdgp.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="{% static 'home/ieee.png'%}" alt="IEEE" class="ieee" />
          </a>
        </div>

        <div>&copy; IEEE SB NITD</div>
        <div>
          <a
            href="http://www.ieeesbnitdgp.com/#contact-us"
            target="_blank"
            rel="noopener noreferrer"
          >
            Contact Us
          </a>
        </div>
      </footer>

      <div class="cursor"></div>
    </div>
  </body>
  <script src="{% static 'user/particles.js' %}"></script>
  <script>
    particlesJS.load(
      "particles-js",
      "{% static 'user/particles.json' %}",
      function () {
        console.log("Hi Qriosity Player");
      }
    );
  </script>
</html>
