{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="{% static 'user/userstyle.css' %}" />
  </head>

  <body>
    <div id="particles-js"></div>
    <div class="containwc">
      <header>
        <h1>
          Qriosity 2.0
        </h1>
        <nav class="nav-bar">
          <ul>
            {% if user.name %}
            <li class="list1"><a href="#" target="_blank">Play</a></li>
            <li class="list1">
              <a href="{% url 'user:formdata' %}"> Change Contact Details</a>
            </li>
            <li class="list1"><a href="#" target="_blank">Rules</a></li>
            <li class="list1">
              <a href="{% url 'user:leaderboard' %}" target="_blank"
                >LeaderBoard</a
              >
            </li>
            <li class="list1"><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      {% if user.name %}
      <div class="content">
        <img src="{{ user.image }}" alt="" />
        <br /><br />
        <div id="message">
          Hello Qriosity User {{ user.name }}
        </div>
      </div>
      <div class="dare">
        <button class="btn">
          <a href="{% url 'quiz:stat' 1 %}">Dare</a>
        </button>
      </div>
      {% else %}
      <div class="content">
        <div id="message">
          You are not logged in.
        </div>
      </div>
      <div class="dare">
        <button class="btn">
          <a href="/">Click here to Login</a>
        </button>
      </div>
      {% endif %}
    </div>

    <div class="cursor"></div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script>
    particlesJS.load(
      "particles-js",
      "{% static 'user/particles.json' %}",
      function () {
        console.log("particles.js config loaded ..............");
      }
    );
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/gsap.min.js"></script>
  <script src="{% static 'user/app.js' %}"></script>
</html>
