<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{%  static 'user/favicon.ico' %}">
    <title>Details</title>
</head>
<link rel="stylesheet" href="{% static 'user/forms.css' %}" />

<body>
    <div class="container">
        <div class="container">
            <header>
                <h1>
                    <a href="{% url 'home:home' %}" class="qriosity">Qriosity 2.0</a>
                </h1>
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'home:rules' %}">Rules</a>
                        </li>
                        <li>
                            <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
                        </li>
                        <li>
                            <a href="{% url 'user:formdata' %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'user:dashboard' %}"> Dashboard </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                </nav>
            </header>

            <div class="content">

                <form action="{% url 'user:formdata' %}" method="POST">
                    <h2 align="center">
                        Fill your details
                    </h2>

                    {% csrf_token %} {{ form.as_p }}


                    <button type="submit" class="btn btn-primary mb1 bg-blue"> Submit </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>