<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Status</title>
    <link rel="stylesheet" href="{% static 'user/forms.css' %}" />
  </head>
  <style>
    .content {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 70vh;
    }
  </style>
  <body>
    <div class="container">
      <header>
        <h1>
          <a href="{% url 'home:home' %}" class="qriosity">Qriosity 2.0</a>
        </h1>
        <br />
        <nav>
          <ul>
            <li>
              <a class="rulebtn">Rules</a>
            </li>
            <li>
              <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
              <a href="{% url 'user:formdata' %}">Contact Info</a>
            </li>
            <li>
              <a href="{% url 'user:dashboard' %}"> Dashboard </a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="content">
        <h3>
          Your Contact Status are as follows
        </h3>

        <div class="box">
          <h4>
            Name : {{details.full_name}}
          </h4>
          <h4>
            College : {{details.college}}
          </h4>
          <h4>
            Year : {{details.year}}
          </h4>
          <h4>
            Contact Number : {{details.contact}}
          </h4>
        </div>

        <div class="submit">
          <a href="{% url 'user:details'%}">
            <button value="Update Contact" class="btn btn-primary mb1 bg-blue">
              Update Contact
            </button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
