{% load static %}
<html>
  <head>
    <title>Leaderboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link
      href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'user/leader.css' %}" />
  </head>

  <body>
    <div class="container">
      <header>
        <h1>
          <a class="navbar-brand" href="{% url 'home:home' %}">Qriosity 2.0</a>
        </h1>

        <nav>
          <ul>
            {% if user.is_authenticated %}
            <li>
              <a class="rulebtn">Rules</a>
            </li>
            <li>
              <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
              <a href="{% url 'user:formdata' %}"> Update Contact Info</a>
            </li>
            <li>
              <a href="{% url 'user:dashboard' %}"> Dashboard </a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <a class="rulebtn">Rules</a>
            </li>
            <li>
              <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
              <a href="{% url 'home:login' %}">Login</a>
            </li>

            {% endif %}
          </ul>
        </nav>
      </header>

      <div class="search">
        <h3>
          Search Your Name
        </h3>
        <input
          type="text"
          name="search"
          id="search"
          placeholder="search your name ......"
          onkeyup="SearchFn()"
        />
      </div>
      <div class="searchResult"></div>
      {% for i in leader %}
      <div class="leader">
        <h3>
          Leading the Chart Now is {{ i.name}}
        </h3>
        <br />
        <img src="{{ i.image }}" alt="{{ i.name }}" />
      </div>
      {% endfor %}
      <div class="content">
        <div class="item">
          <div class="pos">
            Rank
          </div>
          <div class="imgs">
            Profile Pic
          </div>
          <div class="name">
            User Name
          </div>
          <div class="score">
            Score
          </div>
        </div>
        {% for i in leaderboard %}
        <div class="item">
          <div class="pos">
            {{ forloop.counter }}
          </div>
          <img src="{{ i.image }}" alt="{{ i.name }}" class="imgbck" />
          <div class="name">
            {{ i.name }}
          </div>
          <div class="score">
            {{ i.score }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script>
      function SearchFn() {

        for (i = 1 ; i < {{n}}+1 ; i ++) {
        let inp = document.querySelector("#search").value;
        let msg = document.querySelector('.searchResult')
        let org = document.querySelectorAll(".item")[i];
        if ( org.querySelector(".name").innerText.toUpperCase().indexOf(inp.toUpperCase()) > -1 )
        {
          org.style.display = ""

        }
        else
        {
          org.style.display = "none"
        }
      }
      }
    </script>
  </body>
</html>
