{% extends "user/base.html" %} 
<!DOCTYPE html>
{% load static %}
{% block body %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leader Board</title>
    <link rel="stylesheet" href="{% static 'user/leaderboard.css' %}" />
  </head>
  <body>
    <body bgcolor="#0F1231">
        <div class="container">
      <div class="container-fluid">
        <div class="table2">
          <div class="image">
            <img
              src="{% static 'user/leadboard.png' %}"
              alt="leaderboard"
            />
          </div>
          <div class="serch">
            <input type="text" placeholder="Search by username.." id="serch" />
            <button type="submit" class="sub">Search</button>
          </div>
          <table>
            <tbody align="centre">
              <tr style="background-color: chocolate;">
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
              </tr>

              {% for i in leaderboard %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.score }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </body>
    </div>
  </body>
  {% endblock %}
</html>
