* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.container {
  min-height: 100vh;
  width: 100vw;
  background: url("back11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  color: aliceblue;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  min-height: 10vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  pointer-events: all;
}

header h1 {
  color: white;
  flex: 2;
  flex-shrink: 0;
  margin-left: 10px;
  pointer-events: all;
}
nav ul,
a:any-link {
  text-decoration: none;
  list-style: none;
  color: white;
}

header a:hover {
  color: rgb(161, 173, 201);
  text-decoration: none;
  text-shadow: 0 0 3px #11e3f1;
  font-size: larger;
}
header nav {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: "Roboto", sans-serif;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 100%;
}

.cursor {
  /* border: 2px solid #0ff;
  border-radius: 2px; */
  position: absolute;
  transform: translate(-200%, -200%);
  pointer-events: none;
  z-index: 3;
  transition: all 0.3 ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  /* box-shadow: 60px 40px 20px 10px #0ff; */
  backdrop-filter: blur();
  box-shadow: 0 0 6px 3px #fff, /* inner white */ 0 0 10px 6px #f0f,
    /* middle magenta */ 0 0 28px 18px #0ff;
}

.link-grow {
  transform: scale(2);
  background: rgba(248, 244, 137, 0.5);
}

.veil {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(16, 16, 31, 0.8);
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

html {
  --myleftop: white;
  --myrightbot: white;
}

.content {
  position: absolute;
  top: 10vh;
  min-height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: larger;
  pointer-events: all;
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  padding: 0px;
  text-align: center;
}

.bg-text1 {
  color: #070305;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.bg-text2 {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  padding: 0px;
}
.bg-text3 {
  background-color: rgb(89, 209, 230); /* Fallback color */
  background-color: rgba(120, 71, 230, 0.4); /* Black w/opacity/see-through */
  transform: translate(-50%, -50%);
  padding: 0px;
  text-align: center;
}

.glow {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  color: white;
  text-align: center;
}

.box-text1 {
  color: white;
  font-size: 20px;
}
.box-text2 {
  color: white;
  font-size: 20px;
}
.glow {
  text-align: center;
  color: white;
}
.nonauth {
  text-align: justify;
  width: 40%;
  font-size: 10px;
  font-family: sans-serif;
  /* background-color: rgba(0, 0, 0, 0.7); */
  padding: 15px;
  line-height: 35px;
}

.para {
  font-size: 5px;
  font-family: "Roboto";
}

.btn {
  padding: 10px;
  border-radius: 25px;
  font-size: large;
  background-color: black;
  color: white;
  border-color: black;
}

.btn:hover {
  background-color: rgb(108, 163, 211);
  border-color: rgb(108, 163, 211);
}
